<% include partials/header %>
<h1>New Article</h1>
<form action="/articles/new" method="POST">
	<input type="text" name="title" placeholder="Title" />
	<textarea
		name="description"
		cols="50"
		rows="20"
		placeholder="Description"
	></textarea>
	<input type="text" name="tags" placeholder="Tags" />
	<div>
		<input class="design" type="submit" value="Submit Article" />
	</div>
</form>
<% include partials/footer %>
