<% include partials/header %>
<h1>Articles List</h1>
<% if(articles.length) { %> <% articles.forEach(article => { %>
<a href="/articles/<%= article.id %>"><h3><%= article.title %></h3> </a>
<h5><%= article.likes%> <span>likes</span></h5>
<% }) %> <% } else { %>
<h4>No articles present</h4>
<% } %>
<a href="/articles/new"><h5 class="design">New Article</h5></a>
<% include partials/footer %>
